
.header{
    
    width: 100%;
    height: 100vh;
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-top: 50px;

}
.banner-greeting{
    width: 60%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 0px;
}
.banner-greeting h3{
    color: #FFF;
    font-size: 32px;
    margin: 0;
    text-align: center;
    margin-top: 0px;


}
.banner-greeting h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    margin-bottom: 177p;
}
/* offer section */
.offer{
    color: red;
text-align: center;
font-size: 88px;
font-weight: 700;
margin-top: 70px;

}
.deals{
    color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
margin: 0;
}
.offer-products{
text-align: center;
font-size: 48px;
font-weight: 700;
margin-top: 6px;
}
#picture{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 3rd section */
.explore{
    width:100%;
    height:100vh;
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-top:50px;


}
.explore-content {
    color: #FFF;
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.explore-content h1 {
    color: #FFF;
font-size: 7vmin;
margin: 5px;
}
.explore-content p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 30px;
    margin-top: 40px;
}
.explore-content .ctn{
    margin-top: 40px;
    color: #FFF;
    margin-top:auto;
    font-size: larger;
}
