.banner-greeting{
    color: #FFF;
text-align: center;
font-size: 32px;
margin-top: 144px;

}
.banner-title{
    color: #FFF;
text-align: center;
font-size: 72px;
line-height: 95px;
margin: 20px 177px 244px ;
}
.header{
    background-image: url(../images/Banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;

}
/* offer section */
.offer{
    color: red;
text-align: center;
font-size: 88px;
font-weight: 700;
margin-top: 70px;

}
.deals{
    color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
margin: 0;
}
.offer-products{
text-align: center;
font-size: 48px;
font-weight: 700;
margin-top: 6px;
}
#picture{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.thard-image{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    width: 1320px;
    height: 600px;
}
.Welcome{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
.desciption{
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
